@font-face {
  font-family: "Poppins";
  src: url("../../src/pages/fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding: 20px;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Poppins;

  .active {
    background-color: #32a8ea;
    color: white;
  }
  .logo {
    width: 176px;
    height: 46px;
    background-image: url("../../public/icons/sicurezzalogocopy.png");
    background-size: contain;
  }

  .logout {
    padding: 8px 10px;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    border-radius: 8px;
    color: #9197b3;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    cursor: pointer;
    width: 251.63px;
    height: 41.32px;
  }
  a {
    padding: 8px 10px;
    margin-right: 40px;
    border-radius: 5px;
    text-align: center;
    border-radius: 8px;
    color: #9197b3;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    width: 251.63px;
    height: 41.32px;
  }
}
