.cd-devices-father{
    display: flex;
    flex-wrap: wrap;
}

.cd-devices{
    // display: flex;
    // flex-wrap: wrap;
    height: 100%;
    width: 30%;
    padding-right: 10%;
    padding-bottom: 50px;
    img{
        width: 50%;
        height: 50%;
    }
    
}